{% extends 'dashboard/base.html' %}
{% block body %}

         <div class="col-md-8">
   
    
        <div class="row">
            <div class="col-md-8">
   
       
    
          <h1>Work Form</h1>
      <form action=" {% url 'updatedata' %}" method="post" enctype="multipart/form-data" id="workupdate">
          {% csrf_token %} 
          <input type="hidden" name="uid" value="{{data.Workid}}">
        <label>Title</label>
          <input type="text" name="title" value="{{data.WorkTitle}}" placeholder="Enter Project Title" class="form-control" required>
          <label>Link</label>
          <input type="text" name="link" value="{{data.WorkLink}}" placeholder="Enter Project Link" class="form-control" required>
          <label> Service Type</label>
          <select name="service" class="form-control">
            
                
           
          <option value="{{data.Serviceid.ServiceId}}">{{data.Serviceid}}</option>
            {% for datas in service %}
            <option value="{{datas.ServiceId}}">{{datas.ServiceTitle}}</option>
            {% endfor %}
             
          </select>
          <input type="file" name="thumb" class="form-control btn btn-primary"><br>
          <input type="submit" name="Update" value="Update" class="btn btn-primary center-block">
      </form>
  
        </div>
         <div class="col-md-3">
           
            <img src="/upload/{{data.WorkThumbnail}}" width="100%" style="padding-top:90px;">
         </div>
      
</section>

{% endblock %}
