{% extends 'dashboard/base.html' %}
{% block body %}

         <div class="col-md-8">
   
    
        <div class="row">
            <div class="col-md-8">
   
       
    
          <h1>Work Form</h1>
      <form action=" {% url 'workinsert' %}" method="post" enctype="multipart/form-data" id="workinsert">
          {% csrf_token %} 
        <label>Title</label>
          <input type="text" name="title" placeholder="Enter Project Title" class="form-control" required>
          <label>Link</label>
          <input type="text" name="link" placeholder="Enter Project Link" class="form-control" required>
          <label> Service Type</label>
          <select name="service" class="form-control">
            {% for data in data %}
            <option value="{{data.ServiceId}}">{{data.ServiceTitle}}</option>
            {% endfor %}
          </select>
          <input type="file" name="thumb" class="form-control btn btn-primary"><br>
          <input type="submit" name="Insert" value="Insert" class="btn btn-primary center-block">
      </form>
  
        </div>
         <div class="col-md-3">
           
            <img src="/upload/work.jpg" width="100%" style="padding-top:90px;">
         </div>
        <div class="col-lg-12 col-md-12">
        <br>
     
   </div>
   
    </div>
    
    
  <div class="col-md-12">
   <table class="table table-striped">
    <thead>
      <tr>
        <th>No</th>
        <th>Thumbnail</th>
        <th>Title</th>
        <th>Delete</th>
        <th>Update</th>
        
      

      </tr>
    </thead>
    <tbody id="showdata">
      
          
    </tbody>
  </table>
 

 </div> 
  <!--End Category Start-->
</div><!--/admin body-->

</div>
    </div>
</section>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Update Works</h4>
      </div>
      <div class="modal-body">
        <form action=" {% url 'workinsert' %}" method="post" enctype="multipart/form-data" id="workinsert">
          {% csrf_token %} 
          <input type="hidden" name="uid" id="uid">
        <label>Title</label>
          <input type="text" name="title" id="utitle" placeholder="Enter Project Title" class="form-control" required>
          <label>Link</label>
          <input type="text" name="link" id="ulink" placeholder="Enter Project Link" class="form-control" required>
          <label> Service Type</label>
          <select name="service" id="uservice" class="form-control">
            {% for data in data %}
            <option value="{{data.ServiceId}}">{{data.ServiceTitle}}</option>
            {% endfor %}
          </select>
          <input type="file" name="thumb" class="form-control btn btn-primary"><br>
        
      </div>
      <div class="modal-footer">
        
        <input type="submit" value="Update"  class="btn btn-primary">
      </form>
      </div>
    </div>
    </div>
    </div>
{% endblock %}


{% block script %}
  <script>
      $(document).ready(function(){
        showdata();
          $('#workinsert').ajaxForm(function(data){
            alert(data)
           $('#title').val('');
           $('#desc').val('');
           $('#icon').val('');
          
            showdata();
          });

          // Update skills
          $('#updateservice').ajaxForm(function(){
            $('#updateModal').modal('toggle');
            $('#utitle').val('');
           $('#udesc').val('');
           $('#uicon').val('');
            showdata();
          })
      });
    //   end read functionl
    function showdata(){
      var element ="";
      $.ajax({
        url:'showworks',
        type:'GET',
        success: function(data){
            


         var alldata = eval(data);
          for(var x=0 ; x<alldata.length; x++){
         
            element+=`
            <tr>
       
       <td>${x}</td>
       <td><img src="${alldata[x].WorkThumbnail}" width="70px" height="70px"></td>
       <td>${alldata[x].WorkTitle}</td>
      
       <td><a href="javscript:void(0)" onclick=deletedata(${alldata[x].Workid})>Delete</a></td>
       <td><a href="updatedata/${alldata[x].Workid}" >Update</a></td>

  
        </tr>
            `;
            
          }
          $('#showdata').html(element)
        }   
      });
    }
    // delete skill
  function deletedata(x){
  
    $.ajax({
      url:'deletework',
      type:'GET',
      data:{
        'id':x,
      },
      success: function(data){
        showdata();
      }
    })
  }

  // update data
  function updatedata(x){
     
   $.ajax({
     url:'updatedata',
     type:'GET',
     data:{'id': x},
     success: function(data){
       alert(data)
       var datas= eval(data);
       $('#utitle').val(datas[0].WorkTitle);
       $('#ulink').val(datas[0].WorkLink);
      //  $('#uservice').val(datas[0].ServiceIcon);
       $('#uid').val(datas[0].Workid);
     }
   })
  
  }
  </script>
{% endblock script %}